<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #TheScene {
      position: fixed;
      width:100vw;
      height: 100vh;
    }
    #TheScroller {
      position: relative;
      width:100vw;
      height:1100vh;
    }
  </style>
</head>

<body>

  <div id="TheScene"></div>

  <div id="TheScroller">testing</div>

</body>

</html>
